##################################
##### Database configuration #####
##################################
DB_HOST= # DATABASE_HOST
DB_PORT= # DATABASE_PORT
DB_USER= # DATABASE_USER
DB_PASSWORD= # DATABASE_PASSWORD
DB_NAME=  # DATABASE_NAME

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=book_api